h1 {
    color: rgb(255, 255, 0);
    display: flex;
    justify-content: center;
}
p,li {
    color:rgb(132, 132, 132);
}
ul {
    list-style-type: none;
    margin: 0;

    display: flex;
    justify-content: left;

    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 100px;
}
li {
    display:inline ;
    float:left;
    font-size: small;
}
li a {
    display: block;
    color:white;
    text-align:center;
    padding: 14px 16px
    
}
body {
    padding: 70px;
    background-repeat:no-repeat;
    background-size:cover ;
    background-image:url("Images/map.png") ;
}
#amongus{
    position: relative;
    left:90%;
    width: 10px;
    height: 10px;
    display:flex;
    cursor: pointer;
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #282c36; /* Change this to your desired background color */
}
table, th, td {
border:1px solid black;
border-collapse: collapse;
}

th {
padding: 20px;

}

td {
    padding: 10px;
}

#s {
    background-color:  red;
}
#a {
    background-color:orange ;
}
#b {
    background-color: yellow;
}
#c {
    background-color: greenyellow;
}
#d {
    background-color: blue;
}
#f {
    background-color: rgb(152, 72, 143);
}
.cheeseimage {
    width: 100px;
}